body{
    margin: 0;
    height: 100vh;
    background-color: rgb(245, 192, 124);
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 90px 80px auto 80px;
}
.header{
    background-color: darkslategrey;
    grid-column: 1 / -1;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(240, 228, 119);
    text-align: center;
}
.nav-bar{
    background-color: rgb(245, 192, 124);
    grid-column: 3 / -3;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}

.nav-btn{
    background-color: rgb(248, 78, 78);
    border: none;
    color: black;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial;
    border-radius: 5px;
    height: 35px;
    width: 75px;
    margin: 0px 10px 0px 0px;
    line-height: 35px;
}

.nav-btn:hover{
    background-color: rgb(21, 93, 247);
}

.reg-form{
   position: relative;
   top: 100px;  
   grid-column: 1 / -1;
   text-align: center;
   padding: 50px 30px;
   margin: auto;
   max-width: 700px;
   width: 100%;
   height: auto;
   bottom: 10;
   background-color: rgb(245, 192, 124);
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   padding-bottom: 30px;
   
}

.footer{
  background-color: rgb(245, 192, 124);
  grid-column: 1 / -1;
  height: 50px;
  margin-top: 150px;
}

.reg-form .title{
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

form .user-details .input-box{
    margin-left: 92px;
    margin-bottom: 15px;
    width: 500px;
    }
    form .input-box span.details{
    display: flex;
    font-weight: 500;
    font-size: large;
    margin-bottom: 5px;
    }

    .user-details .input-box input{        
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid rgb(7, 7, 7);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    }
    .user-details .input-box input:focus,
    .user-details .input-box input:valid{
    border-color: rgb(248, 78, 78);
    }

    input[type="text"] {

        background-color : rgb(245, 192, 124); 
      
      }

    form .button{
     height: 45px;
     margin: 35px 0
    }
    form .button input{
     margin-top: 20px;
     height: 100%;
     width: 160px;
     border-radius: 5px;
     border: none;
     color: rgb(7, 7, 7);
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: rgb(248, 78, 78);
    }
    form .button input:hover{
    /* transform: scale(0.99); */
    background: rgb(21, 93, 247);
    }
    @media(max-width: 584px){
    .container{
    max-width: 100%;
    }
    form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
}

.details{
    color: rgb(7, 7, 7);
}
.title{
    color: rgb(7, 7, 7);
    font-weight: bold;
}
.user-details{
    margin-top: 50px;
}
    