html body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: 90px 630px;
    overflow: hidden;
}
#div1{
    background-color: darkslategrey;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(240, 228, 119);
    padding: 5px;
}
#div2{
    background-color: rgb(245, 192, 124);
    text-align: center;
}

#btlogin{
        
        display: inline-block;
        background-color: orange;
        border-radius: 10px;        
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        height: 10px;
        line-height: 10px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 200px;
        text-decoration: none;    
}
#btlogin:hover{
    background-color: rgb(152, 154, 228);
}

#btlogin1{
        display: inline-block;
        background-color: orange;
        border-radius: 10px;
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        height: 10px;
        line-height: 10px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 200px;
        text-decoration: none;    
}

#btlogin1:hover{
    background-color: rgb(152, 154, 228);
}